# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Django
db.sqlite3
.env
media/
static/

# Frontend (Node/Vue)
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
